<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="LoRaMoteConfig.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="LoRaMoteConfig.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <LoRaMoteConfig.Properties.Settings>
            <setting name="SerialPortIndex" serializeAs="String">
                <value>-1</value>
            </setting>
            <setting name="Top" serializeAs="String">
                <value>-1</value>
            </setting>
            <setting name="Left" serializeAs="String">
                <value>-1</value>
            </setting>
            <setting name="ChannelsFilePath" serializeAs="String">
                <value />
            </setting>
            <setting name="ChannelsFileName" serializeAs="String">
                <value />
            </setting>
            <setting name="DevClassVisibility" serializeAs="String">
                <value>True</value>
            </setting>
        </LoRaMoteConfig.Properties.Settings>
    </userSettings>
    <applicationSettings>
        <LoRaMoteConfig.Properties.Settings>
            <setting name="DevConfigVersion" serializeAs="String">
                <value>1.3</value>
            </setting>
            <setting name="FirmwareVersion" serializeAs="String">
                <value>3.5</value>
            </setting>
        </LoRaMoteConfig.Properties.Settings>
    </applicationSettings>
</configuration>